@using CelebiSeyehat.Dto.Hotel
@model List<GetFilteredHotelsQueryResponseDto>

@{
	Layout = null;

	var selectedLocation = ViewBag.SelectedLocation as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Arama</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/CelebiSeyehat/css/utils.css">
	<link rel="stylesheet" href="/CelebiSeyehat/css/style.css">
	<link rel="stylesheet" href="/CelebiSeyehat/css/otel_search.css">

</head>
<body>

	@await Component.InvokeAsync("UserNavbar")


	<div class="container">
		<div class="row">
			<!-- Filtreleme -->
			<aside class="filters col-md-3">

				<h3>Filtreler</h3>

				<form asp-action="SearchHotel" method="post">
					<a class="accordion filter-group">Lokasyon</a>
					<div class="panel">
						@foreach (var location in ViewBag.Locations)
						{
							<label class="tk"><input type="radio" name="Location" value="@location.Name" @(selectedLocation == location.Name ? "checked" : "")>@location.Name</label>
						}
					</div>

					@* konuk değerlendirmesi *@
					<a class="accordion filter-group">Konuk Değerlendirmesi</a>
					<div class="panel">
						<label class="tk"><input type="radio" name="MinRating value="9"> Mükemmel (9 ve üzeri)</label>
						<label class="tk"><input type="radio" name="MinRating value="8"> Çok iyi (8 ve üzeri)</label>
						<label class="tk"><input type="radio" name="MinRating value="7"> İyi (7 ve üzeri)</label>
						<label class="tk"><input type="radio" name="MinRating value="6"> Keyifli (6 ve üzeri)</label>
					</div>

					@* otel özellikleri *@
					<a class="accordion filter-group">Özellikler</a>
					<div class="panel">
						@foreach (var item in ViewBag.HotelFeatures)
						{
							<label class="tk"><input name="Features" type="checkbox" value="@item.Name">@item.Name</label>
						}
					</div>

					@* fiyat min-max *@
					<a class="accordion filter-group">Fiyat Aralığı</a>
					<div class="panel">
						<div class="price-range">
							<div class="price-inputs">
								<label for="min-price">Min:</label>
								<input type="number" id="min-price" name="MinPrice" min="100" max="10000">
							</div>
							<div class="price-inputs">
								<label for="max-price">Max:</label>
								<input type="number" id="max-price" name="MaxPrice" min="100" max="10000">
							</div>
						</div>
					</div>

					@* pansiyon türü *@
					<a class="accordion filter-group">Pansiyon Türü</a>
					<div class="panel">
						@foreach (var item in ViewBag.HotelPensionTypes)
						{
							<label class="tk"><input name="PensionType" type="radio">@item.Name</label>
						}
						@* 						<label class="tk"><input type="radio"> Alkolsüz Her Şey Dahil</label>
						<label class="tk"><input type="radio"> Basit Kahvaltı</label>
						<label class="tk"><input type="radio"> Ultra Her Şey Dahil</label>
						<label class="tk"><input type="ra"> Her Şey Dahil</label>
						<label class="tk"><input type="checkbox"> Tam Pansiyon</label> *@
					</div>
					<div class="filter-actions">
						<button type="submit" class="btn btn-primary apply-filters">Filtreleri Uygula</button>
					</div>
				</form>

			</aside>

			<!-- otel Kartları -->
			<main class="tickets col-md-9">
				<h2>Mevcut Oteller</h2>
				@foreach (var hotel in Model)
				{
					<div class="ticket-card">
						<div class="column image">
							<img src="@hotel.CoverImageUrl" alt="">
						</div>
						<div class="column firm">
							<h3>@hotel.Name</h3>
							<p>@hotel.Location</p>
							<p>@hotel.PensionType</p>
						</div>

						<div class="column button">
							<div class="rating-info">
								<div class="rating">
									<p class="review-count">(120 yorum)</p>
									<p class="rating-score">@hotel.GuestRating</p>
								</div>
							</div>
							<div class="price-info">
								<p class="price">@hotel.RoomTypes.Min(ht => ht.Price) TL</p>
								<a href="/Hotel/HotelDetail/@hotel.Id"><button>Seç</button></a>
							</div>
						</div>
					</div>
				}
			</main>
		</div>
	</div>


	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<h4 class="footer-title">triply</h4>
					<p>Yolculuklar burada başlar, hatıralar sonsuza kadar sürer...</p>
				</div>

				<div class="col-md-4">
					<h5>Hızlı Linkler</h5>
					<ul class="footer-links">
						<li><a href="home.html">Ana Sayfa</a></li>
						<li><a href="uçak.html">Uçak</a></li>
						<li><a href="otel.html">Otel</a></li>
						<li><a href="otobüs.html">Otobüs</a></li>
						<li><a href="tren.html">Tren</a></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h5>Bize Ulaşın</h5>
					<ul class="footer-contact">
						<li>Email: <a href="mailto:info@triply.com">info@triply.com</a></li>
						<li>Telefon: <a href="tel:+902121234567">+90 212 123 45 67</a></li>
						<li>
							<a href="#"><i class="fab fa-facebook"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center mt-4">
				<p>&copy; 2024 Triply. Tüm hakları saklıdır.</p>
			</div>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/CelebiSeyehat/js/accordion.js"></script>
</body>
</html>
