@using CelebiSeyehat.UI.ViewModels.Reservation
@model HotelReservationViewModel


@{
	Layout = null;

	// var totalPrice = Model.Trip.TicketPrice * Model.PassengerCount;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rezervasyon</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/CelebiSeyehat/css/utils.css">
	<link rel="stylesheet" href="/CelebiSeyehat/css/rezervasyon.css">




</head>
<body>

	@await Component.InvokeAsync("UserNavbar")


	<div class="container">

		<form asp-action="Reservation" asp-controller="Hotel" method="post">

			<div class="row">

				<div class="col-md-9">

					<!-- İletişim Kartı -->
					<div class="card">
						<div class="card-header">İletişim Bilgileri</div>
						<div class="card-body">
							<label class="form-label">E-Posta</label>
							<input type="email" asp-for="@Model.AppUser.Email" value="@Model.AppUser.Email" placeholder="E-posta adresinizi giriniz">

							<label class="form-label">Cep Telefonu</label>
							<input type="tel" asp-for="@Model.AppUser.PhoneNumber" value="@Model.AppUser.PhoneNumber" placeholder="Cep telefonunuzu giriniz">
						</div>
					</div>


					@for (int i = 0; i < Model.GuestCount; i++)
					{
						<!-- Misafir Bilgileri-->
						<div class="card">
							<div class="card-header">- Misafir Bilgileri -</div>
							<div class="card-body">
								<label class="form-label">Ad *</label>
								<input type="text" asp-for="@Model.Guests[i].Name" placeholder="Adınızı giriniz">

								<label class="form-label">Soyad *</label>
								<input type="text" asp-for="@Model.Guests[i].Surname" placeholder="Soyadınızı giriniz">

								<label class="form-label">TC Kimlik No *</label>
								<input type="text" asp-for="@Model.Guests[i].TcNo" placeholder="TC kimlik numaranızı giriniz">


								<label class="form-label">Cinsiyet *</label>
								<label class="tk">
									<input type="radio" asp-for="@Model.Guests[i].Gender" value="Erkek"> Erkek
								</label>
								<label class="tk">
									<input type="radio" asp-for="@Model.Guests[i].Gender" value="Kadın"> Kadın
								</label>
							</div>
						</div>
					}
				</div>


				<div class="col-md-3">

					<div class="card">
						<div class="card-header">Rezervasyon Bilgileri</div>
						<div class="card-body">
							<p><strong>Otel Adı :</strong> @Model.Hotel.Name</p>
							<p><strong>Oda No :</strong> @Model.HotelReservation.HotelRoom.RoomNumber</p>
							<p><strong>Oda Türü :</strong> @Model.HotelReservation.HotelRoom.RoomType.Name</p>
							<p><strong>Check-In Tarihi: </strong> @Model.HotelReservation.CheckInDate.ToString("dd-MMMM-yyyy")</p>
							<p><strong>Check-Out Tarihi:</strong> @Model.HotelReservation.CheckInDate.ToString("dd-MMMM-yyyy")</p>
							<p><strong>İptal Koşulları:</strong> Rezervasyon iptali, rezervasyon tarihinden 2 hafta saat önce yapılabilir.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row payment-section">
				<div class="col-md-5 text-start">
					<h5>Toplam Tutar: @(Model.HotelReservation.HotelRoom.RoomType.Price*Model.GuestCount) </h5>
				</div>
				<div class="col-md-4 text-end">
					<button type="submit" class="btn-proceed">Ödemeye İlerle</button>
				</div>
			</div>


						@* hotel bilgiler hidden field ile *@
			<input type="hidden" asp-for="Hotel.Id" value="@Model.Hotel.Id">
			<input type="hidden" asp-for="Hotel.Name" value="@Model.Hotel.Name">
			<input type="hidden" asp-for="Hotel.Description" value="@Model.Hotel.Description">
			<input type="hidden" asp-for="Hotel.Location" value="@Model.Hotel.Location">
			<input type="hidden" asp-for="Hotel.GuestRating" value="@Model.Hotel.GuestRating">
			<input type="hidden" asp-for="Hotel.PensionType" value="@Model.Hotel.PensionType">
			<input type="hidden" asp-for="Hotel.CoverImageUrl" value="@Model.Hotel.CoverImageUrl">

			@* hotel room bilgiler hidden field ile *@
			@* ????????? *@


			@* appUser bilgileri hidden field ile *@
			<input type="hidden" asp-for="AppUser.Id" value="@Model.AppUser.Id" />
			<input type="hidden" asp-for="AppUser.Name" value="@Model.AppUser.Name" />
			<input type="hidden" asp-for="AppUser.Surname" value="@Model.AppUser.Surname" />

			@* Customer bilgileri hidden field ile *@
			<input type="hidden" asp-for="AppUser.Customer.Id" value="@Model.AppUser.Customer.Id" />
			<input type="hidden" asp-for="AppUser.Customer.FirstName" value="@Model.AppUser.Name" />
			<input type="hidden" asp-for="AppUser.Customer.LastName" value="@Model.AppUser.Surname" />
			<input type="hidden" asp-for="AppUser.Customer.Email" value="@Model.AppUser.Email" />
			<input type="hidden" asp-for="AppUser.Customer.PhoneNumber" value="@Model.AppUser.PhoneNumber" /> 





		</form>

	</div>




	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<h4 class="footer-title">triply</h4>
					<p>Yolculuklar burada başlar, hatıralar sonsuza kadar sürer...</p>
				</div>

				<div class="col-md-4">
					<h5>Hızlı Linkler</h5>
					<ul class="footer-links">
						<li><a href="home.html">Ana Sayfa</a></li>
						<li><a href="uçak.html">Uçak</a></li>
						<li><a href="otel.html">Otel</a></li>
						<li><a href="otobüs.html">Otobüs</a></li>
						<li><a href="tren.html">Tren</a></li>
					</ul>
				</div>

				<div class="col-md-4">
					<h5>Bize Ulaşın</h5>
					<ul class="footer-contact">
						<li>Email: <a href="mailto:info@triply.com">info@triply.com</a></li>
						<li>Telefon: <a href="tel:+902121234567">+90 212 123 45 67</a></li>
						<li>
							<a href="#"><i class="fab fa-facebook"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center mt-4">
				<p>&copy; 2024 Triply. Tüm hakları saklıdır.</p>
			</div>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/CelebiSeyehat/js/accordion.js"></script>
</body>
</html>
